{% extends 'base.html.twig' %}

{% block title %}Hello EntrepriseController!{% endblock %}

{% block stylesheet %}
dza
{% endblock %}

{% block body %}


<div class="container-fluid py-4 ">
      <header class=" pb-3 mb-4 border-bottom container ">
        <div class="row">
          <div class="col-3">

            <a href="/" class=" text-dark text-decoration-none">
              <span class="fs-4">Info société</span>
            </a>
          </div>
          <div class="col-6">

            <form class=" input-group input-group-md  " action="{{ path("recherchebyparam") }}" method="get">
              <input type="text" class="form-control" name="denomination" placeholder="Dénomination entreprise, N°SIREN, N°SIRET"></input>
              <div class="input-group-append input-group-md ">
                <button type="submit" class="btn btn-primary">Rechercher</button>
              </div>
            </form>
          </div>
        </div>
      </header>



    <div class="jumbotron p-4 bg-cyan ">
      <div class="container bg-white my-5 p-5 rounded-3 border">
        <div class="row">
          <div class="col-4-lg col-12-md">
            <h1 class="text-h1 text-center ">{{ data.denomination }}</h2>
            <h2 class="text-center text-h2 text-muted">{{ data.siren }}</h2>
          </div>

          <div class="col-8-lg col-12-md d-flex justify-content-start">
            <table>
              {% for key, value in importantData %}
                <tr>
                  <th scope="row" class="px-3 py-2" >
                    {{ key }}
                  </th>
                  <td class="px-3 py-2">
                    {{ value }}
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="row d-flex justify-content-between">
      <div class="col-6-lg col-12-md d-flex justify-content-center">
        <div class="col-9 m-5 ">
          <div class="container bg-white p-5 rounded-3 ">

          <h2 class="text-left information-juridique-title">Informations juridique de {{data.denomination}}</h2>
          <table>

            {% for key, value in informationJuridique %}
              <tr>
                <th class="align-top py-1" >
                  {{ key }}
                </th>
                <td class="px-4 Information-juridique-text">
                {{value}}
                </td>
              </tr>
            {% endfor %}
          </table>

          </div>
        </div>
      </div>

      <div class="col-6-lg col-12-md d-flex justify-content-center">
        <div class="col-9 m-5">
          <div class="container bg-white p-5 rounded-3 ">

          <h2 class="text-left information-juridique-title">Activité de {{data.denomination}}</h2>
          <table>

            {% for key, value in InformationActivite %}
              <tr>
                <th class="align-top py-1" >
                  {{ key }}
                </th>
                <td class="px-4 Information-juridique-text">
                {{value}}
                </td>
              </tr>
            {% endfor %}
          </table>

          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
